@font-face {
  font-family: "IranSans";
  src: url("../assets/fonts/IranSans.woff") format("woff"),
  url("../assets/fonts/IranSans.ttf") format("ttf"),
  url("../assets/fonts/IranSans.svg") format("svg"),
  url("../assets/fonts/IranSans.eot") format("eot");
}
*:not(mat-icon){
  font-family: "IranSans", Arial, sans-serif !important;
}
.mat-mdc-form-field, .mat-mdc-floating-label {
  font-family: "IranSans", Arial, sans-serif !important;
  font-weight: normal;
}
.toolbar-item-spacer {
    flex: 1 1 auto;
}
  
.app-container {
  height: 90%;
  margin: 0;
}  
.app-sidenav {
  width: 230px;
}
.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  direction: rtl;
} 
.navtext button span {
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
}
.login button {
  margin: 0 auto;
  display: block;
}
.login_message {
  margin-top: 10px;
  display: block;
}
.font-class {
  font-family: "IranSans", Arial, sans-serif !important;
  font-weight: normal;
}